<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create farm</title>
</head>
<body>
    <p>createing new farm</p>
    <form action="/farms" method="post">
        <label for="name">Name : </label>
        <input type="text" name="name" id="name">
        <br>
        <label for="city">city : $ </label>
        <input type="text" name="city" id="city">
        <br>
        
        
    <br>
        <button>SUbmit</button>
    </form>

    <a href="/farms">back to all</a>
</body>
</html>